<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>

    <div id="app">
        <div class="container">

            <div class="center_h">
                <p>采用position的布局方式</p>
            </div>
            <div class="nav">
                <ul>
                    <li v-for="(item,index) in titles"><a v-bind:href="'http://zh.learnlayout.com/position-example.html?id='+item.id">{{item.text}}</a></li>
                </ul>
            </div>
            <div class="section_container">
                <div class="p_div_1">
                    <p>
                        section 的 margin-left 样式确保了有足够的空间容纳 nav 元素。
                    </p>
                </div>
                <div class="p_div_2">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum,
                        nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est,
                        ultrices
                        nec
                        congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula,
                        facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut
                        hendrerit
                        risus
                        congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc
                        venenatis
                        imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla
                        congue
                        eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam
                        velit.
                    </p>
                </div>

            </div>
        </div>

        <div class="container2_parent">

            <div class="center_h">
                <p>采用flex的布局方式</p>
            </div>

            <div class="container2">
                <div class="nav2">
                    <ul>
                        <li v-for="(item,index) in titles"><a v-bind:href="'http://zh.learnlayout.com/position-example.html?id='+item.id">{{item.text}}</a></li>
                    </ul>
                </div>
                <div class="flex_div_1">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum,
                        nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est,
                        ultrices
                        nec
                        congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula,
                        facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut
                        hendrerit
                        risus
                        congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc
                        venenatis
                        imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla
                        congue
                        eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam
                        velit.
                    </p>
                </div>
                <div class="flex_div_2">

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum,
                        nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est,
                        ultrices
                        nec
                        congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula,
                        facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut
                        hendrerit
                        risus
                        congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc
                        venenatis
                        imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla
                        congue
                        eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam
                        velit.
                    </p>
                </div>

            </div>
        </div>

        <div class="container3">

            <div class="center_h">
                <p>采用float的布局方式</p>
            </div>
            <div class="float_div_3">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                    interdum,
                    nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices
                    nec
                    congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula,
                    facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit
                    risus
                    congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc
                    venenatis
                    imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla
                    congue
                    eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam
                    velit.
                </p>
            </div>
            <div class="float_div_4">

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                    interdum,
                    nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices
                    nec
                    congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula,
                    facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit
                    risus
                    congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc
                    venenatis
                    imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla
                    congue
                    eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam
                    velit.
                </p>
            </div>

        </div>
    </div>
    <script src="index.js"></script>
</body>

</html>